include AUTHORS
include CHANGES
include LICENSE
include README.rst
include test_rt.py
recursive-include doc *
recursive-include tests *

recursive-exclude .github *
exclude .codebeatignore
exclude .gitignore
exclude .readthedocs.yaml
